# /node_modules
# /public/hot
/public/storage
/public/store
/storage/*.key
/storage
# /vendor
.env
# .godaddy
# .env.backup
# .phpunit.result.cache
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log

